doctype html
html
  head
    style
      :stylus
        @require '../index.styl'
        --button-apply-defaults()
        section
          display inline-block
          margin-top 20px
          width 100%
          > div
            margin-left 20px
            border-left 1px solid #ccc
            padding-left 20px
            width 200px
            float left
            text-align center
            &:first-child
              border none

  body
    mixin button(prefix, name)
      section
        div: div(class="#{prefix}-#{name}") div.#{prefix}-#{name}
        div: div(class="#{prefix}-#{name} hover") div.#{prefix}-#{name}.hover
        div: div(class="#{prefix}-#{name} active") div.#{prefix}-#{name}.active
      section
        div: a(class="#{prefix}-#{name}") a.#{prefix}-#{name}
        div: a(class="#{prefix}-#{name} hover") a.#{prefix}-#{name}.hover
        div: a(class="#{prefix}-#{name} active") a.#{prefix}-#{name}.active
      section
        div: button(class="#{prefix}-#{name}") button.#{prefix}-#{name}
        div: button(class="#{prefix}-#{name} hover") button.#{prefix}-#{name}.hover
        div: button(class="#{prefix}-#{name} active") button.#{prefix}-#{name}.active

    +button("btn", "default")
    +button("btn", "primary")
    +button("btn", "warning")
    +button("btn", "danger")
    +button("btn", "success")